.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /*grid-template-rows: 0.2fr 6fr 4fr 10fr 1fr 2fr 0.5fr 1fr 1.3fr ;*/
    grid-template-rows: 3vw 50vw 50vw 3vw 33.3vw 50vw 3vw 20vw 10vw ;
    grid-template-areas: 
        "nav nav nav nav nav nav nav nav nav nav nav nav"
        "main main main main main main main main main main main main"
        ". . t1 t1 t1 t1  pic1 pic1 pic1 pic1 . ."
        ". . t2 t2 t2 . opt opt opt opt . ."
        "c1 c1 c1 c2 c2 c2 c3 c3 c3 c4 c4 c4"
        ". pic2 pic2 pic2 pic2 pic2 pic2 pic2 pic2 pic2 pic2 ."
        ". . t3 t3 t3 t3 t3 t3 t3 t3 . ."
        ". . . c5 c5 c6 c6 c7 c7 . . ."
        "footer footer footer footer footer footer footer footer footer footer footer footer";
  grid-gap: 4rem;
}
.container2{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 100vw ;
    grid-template-areas: "logo . . call-us reseaux burger";
}

nav{
   background: #fafafa;
   grid-area: nav;
   margin-left: auto;
  margin-right: auto;
    width: 100vw;
    height: 100vw;
}
.logo{
    width: 10vw;
    margin-top: 5%
}
#logo{
    grid-area: logo;  
}
#call-us{
    grid-area: call-us;
}
.call-us{

    font-size: 1vw;
    margin-top: 10%;
}
#reseaux{
    grid-area: reseaux;  
}
.reseaux{
    width: 1.5vw;
    margin-top: 17%;
}
#burger{
    grid-area: burger;   
}
.burger{
    width: 2vw;
    margin-top: 15%;
    margin-left: 25%;
    
}
main{
    /*background: #762210;*/
    grid-area: main;
}
.caroussel{
    overflow:hidden;
    position: relative;
    max-width: 100vw;
}

.caroussel .caroussel-item,
.caroussel .caroussel-item--hidden {
    display: none;
}
.caroussel .caroussel-item img{
    max-width: 100%;
    height: 100%;
    width: 100%;
}

.caroussel .caroussel-item--visible{
    display: block;
}
.caroussel .caroussel-actions{
    display:flex;
    width: 100%;
    justify-content:space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.caroussel .caroussel-actions button {
    border-radius: 50px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.caroussel .caroussel-actions button#carousel_button--prev {
    margin-left: 20px;
}

.caroussel .caroussel-actions button#carousel_button--next {
    margin-right: 20px;
}

#t1{
    /*background: #32231f;*/
    grid-area: t1;
}
.about-us{
    color:#129548;
    font-size: 0.9vw;
    margin-top: 10%;
    font-weight: bold
    
}
.leadership{
    font-size: 2vw;
    font-weight: bold;
}
.presentation{
    color:grey;
    font-size: 0.9vw;
    margin-top: 10%;
}
.box26 {
    margin-top: 20%;
}
.border {
    display: inline-block;
    vertical-align: middle;
    width: 10vw;
    height: 10vw;
    border: 0.4vw solid #cee002;
}
.border-content {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: -6.5vw;
    top: 0vw;
}
.number26 {
    display: inline-block;
    vertical-align: middle;
    font-size: 6vw;
    font-weight: 600;
    color: #000;
}
.border-list {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 1vw;
    font-size: 1.5vw;
    line-height: 1.5vw;
    color: #000;
}

#t2{
    /*background: #f0cf2a;*/
    grid-area: t2;
}
.title{
    font-size: 2vw;
    margin-top: 0.5%;
    margin-left: 10%;
}

#opt{
    /*background: #f0cf2a;*/
    grid-area: opt;
}
.opt{
    margin-top: 3%;
}
.options{
    font-size: 0.9vw;
    margin-right: 10%;
    font-weight: bold
}
.options2{
    font-size: 0.7vw;
    margin-right: 10%;
    font-style:italic;
    color: gray;
}

#t3{
    background: #9c8820;
    grid-area: t3;
}

#pic1{
    /*background: #659512;*/
    grid-area: pic1;
}

.picture1{
    max-width: 125%;
    max-height: 100%;
}

#pic2{
    background: url(./medias/points.png) 0 0 repeat;
    grid-area: pic2;
}

.opacity{
    display:block;
    position:relative;
    overflow:hidden;
    }

.opacity img {

    width:100%;
    height:100%;
}

.opacity .infos-hover{
    display:block;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:0;
    color:#fff;
    text-align:center;
    background:rgba(0,0,0,0.8);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    }
.opacity .infos-hover h2{
    text-align:center;
    margin-top:2vw;
    margin-left:0.5vw;
    font-size:2vw;
}
.opacity .infos-hover p{
    text-align:center;
    margin-top: 10vw;
}
.opacity:hover .infos-hover{
    height:100%;
}


#c1{
    background: #129548;
    grid-area: c1;
}
.c1{
    max-width: 100%;
    max-height: 100%;
}
.c2{  
    max-width: 100%;
    max-height: 100%; 
}
.c3{
    max-width: 100%;
    max-height: 100%;
}
.c4{
    max-width: 100%;
    max-height: 100%;
}
#c2{
    background: #1affd2;
    grid-area: c2;
}

#c3{
    background: #19b899;
    grid-area: c3;
}

#c4{
    background: #19b6b8; 
    grid-area: c4;
}

#c5{
    background: #1983b8; 
    grid-area: c5;
}

#c6{
    background: #1944b8;
    grid-area: c6;
}

#c7{
    background: #1c1694;
    grid-area: c7;
}
.opacity2{
    display:block;
    position:relative;
    overflow:hidden;
    }

.opacity2 img {

    width:100%;
    height:100%;
}

.opacity2 .infos-hover2{
    display:block;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:0;
    color:#fff;
    text-align:center;
    background:rgba(0,0,0,0.8);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.opacity2 .infos-hover2 h2{
    text-align:center;
    margin-top:2vw;
    margin-left: 0.2vw;
    font-size:2vw;
}
.opacity2 .infos-hover2 p{
    text-align:center;
    margin-top: 5vw;
}
.opacity2:hover .infos-hover2{
    height:100%;
}
footer{
    background: #941687;
    grid-area: footer;
}

@media only screen and (max-width:550px){
    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1vw 50vw 75vw 3vw 75vw 75vw 50vw 5vw 75vw 75vw 25vw ;
        grid-template-areas: 
            "nav nav nav nav"
            "main main main main"
            "t1 t1 pic1 pic1"
            "t2 t2 opt opt"
            "c1 c1 c2 c2"
            "c3 c3 c4 c4"
            "pic2 pic2 pic2 pic2"
            "t3 t3 t3 t3"
            "c5 c5 c6 c6"
            ". c7 c7 ."
            "footer footer footer footer"

            ;
    }
}

@media only screen and (max-width:1024px) and (min-width:551px) {
    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1vw 50vw 40vw 3vw 40vw 40vw 50vw 2vw 40vw 60vw 25vw ; ;
        grid-template-areas: 
            "nav nav nav nav"
            "main main main main"
            ". t1 pic1 ."
            "t2 t2 opt opt"
            ". c1 c2 ."
            ". c3 c4 ."
            "pic2 pic2 pic2 pic2"
            "t3 t3 t3 t3"
            ". c5 c6 ."
            ". c7 c7 ."
            "footer footer footer footer"

            ;
    }
}